/* Fonts */

@font-face {
    font-family: 'membraregular';
    src: url('assets/fonts/membra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'londrina_solidregular';
    src: url('assets/fonts/LondrinaSolid-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Animation */

@keyframes portrait-color {
    from {border-color: #00F5D4;
    border-width: 5px;}
  to {border-color: #FEE440;
border-width: 30px;}
}

/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* Structure */

body {
    
    background: linear-gradient(#d397fa,  #8364e8);
    font-family: 'londrina_solidregular', Tahoma, sans-serif;
}

header {
    height: 17%;
    text-align: center;
}

nav {
    width: 17%;
}

#navbar {
    padding-top: 50px;
    margin-left: 50px;
}

main {
    width: 83%;
}

#portrait-section {
    padding: 30px;
}

#about {
    margin: 50px 0;
}

#arrow-container {
    text-align: center;
    margin-top: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 10%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}


/* Typography */

h1 {
    font-family: 'membraregular', Tahoma, sans-serif;
    font-weight: normal;
    font-size: 4.2rem;
}

#header-caption {
    font-size: 1.6rem;
}

#content-container {
    display: flex;
    margin-top: 80px;
}

#navbar li {
    list-style-type: none;
}

.subheader {
    font-family: 'membraregular', Tahoma, sans-serif;
    font-weight: normal;
    font-size: 2.2rem;
    margin-left: 40px;
    font-size: 3rem;
}

.info-text {
    font-size: 1.8rem;
    width: 50%;
    padding: 20px;
    margin-left: 50px;
}

footer p {
    font-size: 1.2rem;
}

/* Links */

#navbar a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #FFFCF7;
}

#navbar li {
    margin-top: 20px;
}

#navbar a:hover {
    font-size: 2.2rem;
    cursor: pointer;
}





/* Images */

#portrait {
    border-radius: 40%;
    border: 5px solid #00F5D4;
    width: 300px;
    margin-left: 300px;
    
}

#portrait:hover {
    animation: portrait-color 2s linear infinite;
    
}

#up-arrow {
    width: 2.5rem;
    border-radius: 50%;
}

#up-arrow:hover {
    border: 2px solid #FFFCF7;
}

.foot-img {
    width: 2rem;
    border-radius: 25%;
    margin: 0 10px;
}

.foot-img:hover {
    background-color: #FFFCF7;
    border: 2px solid #FFFCF7;
}